<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EVENTS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let stuff of stuffs">
    <ion-card-header>
      <ion-card-title text-wrap>{{ stuff.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ stuff.description }}</p><br>
      <p><sub>{{ stuff.location }}</sub><span class="alignRight"><span class="tag" *ngFor="let tag of stuff.tags2">{{ tag }}</span></span></p>
    </ion-card-content>
  </ion-card>
</ion-content>
