ion-card-title {
	font-weight: bold;
}
.tag {
	font-size: 10px;
	background-color: #be0f34;
	color: #FFF;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 20px;
	margin-right: 5px;
	margin-top: -5px;
}
.alignRight {
	float: right;
}