// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import '../theme/fonts';

.toolbar-background {
	background-color: #be0f34;
}
.toolbar-title {
	color: #FFFFFF;
	font-family: 'Libre Franklin';
	font-size: 13px;
}
.toolbar-background {
	background-color: #be0f34;
}
ion-navbar ion-icon {
	/* makes the hamburger menu icon white. */
	color: #FFFFFF;
}
ion-navbar {
	/* makes the main heading a bit bigger and moves content down. */
	padding-top: 1.25em !important;
	height: 4em;
}
ion-toolbar {
	/* makes the menu header a bit bigger and moves content down. */
	padding-top: 1.25em !important;
	height: 4em;
}
.ion-title {
	/* css to move title down a bit on android */
	padding-top: 1.25em !important;
}
.title-ios {
	/* css to move title down a bit on ios */
	padding-top: 1.25em !important;
}
ion-content {
	font-family: 'Libre Franklin';
}