<!--
  Generated template for the HomecomingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>HOMECOMING</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="header-image">
        <img src="../assets/imgs/012.jpg">
    </div>
    <div class="main-content" padding>
	   <p>Here's Homecoming!</p>
    </div>
</ion-content>
